.custom-collapse-panel > .ant-collapse-header {
    padding: 12px !important; /* This overrides the default padding */
}

.assignment-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.assignment-info {
    flex-grow: 1;
    padding: 0 16px;
}

.assignment-title {
    font-size: 16px;
    font-weight: 500;
}

.assignment-course {
    font-size: 12px;
    color: #666;
}

.assignment-deadline {
    font-size: 14px;
    color: #52c41a;
}

.assignment-deadline-missed {
    font-size: 14px;
    color: #e00c0c;
}
